<div class="skills">
  <h2>SKILLS</h2>
  <div class="skill__title">
    <em class="fa-solid fa-screwdriver-wrench"></em>
    <p>Technical</p>
  </div>
  <div class="skills__list">
    <p *ngFor="let skill of professional">{{ skill }}</p>
  </div>
  <div class="skill__title">
    <em class="fa-regular fa-user"></em>
    <p>Social</p>
  </div>
  <div class="skills__list">
    <p *ngFor="let skill of social">{{ skill }}</p>
  </div>
  <div class="skill__title">
    <em class="fa-brands fa-creative-commons"></em>
    <p>Content Creator</p>
  </div>

  <div class="skill__content-creator">
    <em class="fa-brands fa-youtube"></em>
    <a target="_blank" [href]="youtubeUrl">Proggraming Playlist (pt-BR)</a>
  </div>
  <div class="skill__content-creator">
    <em class="fa-brands fa-medium"></em>
    <a target="_blank" [href]="mediumUrl">Medium Articles</a>
  </div>
</div>
