:host {
  width: 100%;
  display: block;
}

.personal-info {
  .personal-info__me {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  .personal-info__infos--name {
    margin: 0;
    font-size: 3em;
  }
  .personal-info__infos--role {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 2em;
  }

  .personal-info__avatar {
    border-radius: 8px;
  }

  .personal-info__infos--description {
    text-align: justify;
    font-size: 1.2em;
  }
}
