<div class="personal-info">
  <div class="personal-info__me">
    <img
      class="personal-info__avatar"
      ngSrc="assets/avatar.jpeg"
      alt="felipe-norato-avatar"
      width="150"
      height="150"
      priority
    />
    <div class="personal-info__infos">
      <h1 class="personal-info__infos--name">Felipe Norato</h1>
      <p class="personal-info__infos--role">Angular Front End Engineer</p>
      <p class="personal-info__infos--description">{{ description }}</p>
    </div>
  </div>
</div>
