:host {
  width: 100%;
  display: block;
}

.personal-info {
  .personal-info__me {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .personal-info__avatar {
  }

  .personal-info__infos--description {
    text-align: justify;
  }
}

