<div class="skills">
  <h2>SKILLS</h2>
  <hr />
  <div>
    <p>Professional</p>
    <ul>
      <li *ngFor="let skill of professional">{{ skill }}</li>
    </ul>
    <p>Social</p>
    <ul>
      <li *ngFor="let skill of social">{{ skill }}</li>
    </ul>
  </div>
  <p>
    Enjoy learning new technologies and libraries like NgRx and Schematics, and,
    as possible as well, contribute to them. Interested in creating tools to
    make the team deliver fast. I like to write tech articles and video
    tutorials on my
    <a [href]="youtubeUrl">Youtube Channel (pt-br)</a>.
  </p>
</div>
