.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;

  padding: 8px;
  width: 21cm;
  min-height: 29.7cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .container {
    margin: 0;
    border: none;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

@media (min-width: 480px) {
  .container {
    flex-direction: column;
  }

  .row {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 8px;
  }

  .left {
    width: 70%;
  }
  .right {
    flex-grow: 1;
    background: #2d343d;
    padding: 8px;
    border-radius: 8px;
  }
}
