.contact {
  background: #2d343d;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  a {
    color: #ffffff;
  }
  .contact__infos {
    .contact__info {
      display: flex;
      align-items: center;
      .contact__info--icon {
        width: 30px;
      }
    }
  }
}
