:host {
  display: block;
}
.contact {
  width: 100%;
  padding: 8px;
  color: #ffffff;
  a {
    color: #ffffff;
  }
  .contact__infos {
    .contact__info {
      display: flex;
      align-items: center;
      .contact__info--icon {
        width: auto;
        min-width: 16px;
        background: #fff;
        padding: 8px 6px;
        color: #000;
        border-radius: 8px;
        margin-right: 12px;
      }
    }
  }
}
