<div class="experience">
  <div class="experience__infos">
    <div class="experience__infos--company">
      <img
        class="experience__company--logo"
        [ngSrc]="logo"
        [alt]="companyName"
        width="30"
        height="30"
        priority
      />
      <p>{{ companyName }}</p>
    </div>
    <p>as</p>
    <p class="experience__infos--role">{{ role }}</p>
    <p class="experience__infos--period">{{ period }}</p>
  </div>
  <p class="experience__description">{{ description }}</p>
  <p class="experience__stack">{{ stack }}</p>
</div>
