:host {
  display: block;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience .experience__infos {
  display: flex;
  align-items: center;
  gap: 8px;

  .experience__infos--role {
    font-size: 20px;
    margin: 0;
  }
  .experience__infos--company {
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .experience__infos--period {
    margin: 0;
    font-style: italic;
    text-align: right;
    flex-grow: 1;
  }
}

.experience .experience__description {
  text-align: justify;
  margin-top: 0px;
}
