:host {
  display: block;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.experience .experience__company {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.experience .experience__description {
  text-align: justify;
}
